
@{


    ViewBag.Title = "Acceso Denegado";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<div class="row">
    <div class="col-md-12">
        <div class="page-not-found highlight-color-yellow">
            <div class="not-found-icons highlight-color-yellow-icon">
                <span class="icon icon-number-four icon-size-large"></span>
                <span class="icon icon-number-zero icon-size-large"></span>
                <span class="icon icon-number-three icon-size-large"></span>
            </div>
            <div class="not-found-title">
                No tiene Permiso
            </div>
            <div class="not-found-description">
                <p class="text-center">No tienes Permiso para acceder, Comunicate con el Administrador.</p>
                <p class="text-center"> <a href="~/">Regresar al DashBoard</a></p>
            </div>

        </div>
    </div>
</div>