
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Login.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <h3 class="heading">
            <span aria-hidden="true" class="icon icon-key"></span>
            <span class="main-text">
                Cambio de Contraseña
            </span>
        </h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <form role="form" class="login-form" method="post" action="#">
            <div class="form-group">
                <label for="usuario">Contraseña</label>
                <input class="form-control input-sm" id="contrasena" placeholder="Contraseña" type="password" name="contrasena">
            </div>
            <div class="form-group">
                <div class="">
                    <button type="button" class="btn btn-success btnCambiarContrasena pull-right">Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section js
{
    <script src="~/Content/assets/viewsjs/Home/CambioContrasena.js"></script>
}