@{
    ViewBag.Title = "Módulo Progresivo";
}

<div class="row">
    <div class="col-md-12">
        <div class="block">
            <div class="block-content-outer">
                <div class="block-content-inner">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>
                                <span aria-hidden="true" class="icon icon-shield"></span>
                                <span class="main-text">
                                    @ViewBag.Title
                                </span>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="page-not-found highlight-color-yellow">
            <div class="not-found-icons highlight-color-yellow-icon">
                <span class="icon icon-number-four icon-size-large"></span>
                <span class="icon icon-number-zero icon-size-large"></span>
                <span class="icon icon-number-one icon-size-large"></span>
            </div>
            <div class="not-found-title">
                No Autorizado
            </div>
            <div class="not-found-description">
                <p class="text-center">No tienes autorización para acceder, comunicate con el Administrador.</p>
                <p class="text-center"> <a href="~/">Regresar al DashBoard</a></p>
            </div>

        </div>
    </div>
</div>
