@using S3k.Utilitario;

@{
    ViewBag.Title = "Reporte Progresivo Vista";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string fecha_archivos = ClaseEncriptacion.EncriptarCadenaHASH(Convert.ToString(DateTime.Now));
}


<style type="text/css">
    .select2-container .select2-selection--single {
        height: 27px !important;
    }

    .select2-container .select2-selection--multiple {
        min-height: 27px !important;
        max-height: 27px !important;
    }

    .select2-container .select2-selection--multiple {
        overflow-y: scroll;
    }


    .table thead tr {
        background-color: #0b1f46 !important;
        height: 35px;
    }

    .cardMachine {
        border-radius: 7px !important;
        background-color: white;
        padding: 15px 15px;
    }

    .sectionCard {
        border: solid #a1a1a1 1px;
        border-radius: 7px !important;
        padding: 15px 1px;
        margin-bottom: 15px;
    }

    .collapsed {
        box-shadow: none !important;
    }

    .block.collapsed .block-heading .block-controls .icon.block-control-collapse {
        color: black !important;
    }

    .block {
        box-shadow: none !important;
    }

    .zon {
        background-color: white !important;
        border-bottom: none !important;
        background: none !important;
    }
</style>


<div class="row">
    <div class="col-md-6">
        <div class="block">
            <div class="block-content-outer">
                <div class="block-content-inner">
                    <div class="row">
                        <div class="col-md-12 col-xs-12 col-sm-12">
                            <h1>
                                <span aria-hidden="true" class="icon icon-block-menu"></span>
                                <span class="main-text">
                                    Reporte Progresivo
                                </span>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
            <div class="block">
                <div class="block-content-outer">
                    <div class="block-content-inner">

                        <div class="row">
                            <div class="col-sm-6 ">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 ">
                                        <button type="button" id="btnBuscar" class="btn btn-primary btn-sm col-md-12 col-xs-12">
                                            <span class="glyphicon glyphicon-search"></span>
                                            Buscar
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 ">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <button type="button" id="btnExcel" class="btn btn-success btn-sm col-md-12 col-xs-12">
                                            <span class="glyphicon glyphicon-file"></span>
                                            Excel
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="block">
            <div class="block-content-outer">
                <div class="block-content-inner">
                    <div class="row">

                        <div class="col-xs-12 col-md-12 col-sm-12" id="formfiltro">
                            <input type="hidden" class="record" name="totalRecords" id="totalRecords" value="0" />
                            <div class="row">
                                <div class="col-lg-3 col-sm-6">
                                    <div class="input-group ">
                                        <span class="input-group-addon">
                                            Sala
                                        </span>
                                        <select class="form-control input-sm codSalaAuditoria" id="cboSala" name="cboSala">
                                            <option value="0" data-id="0">--Seleccione--</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6">
                                    <div class="input-group ">
                                        <span class="input-group-addon">
                                            Progresivo
                                        </span>
                                        <select class="form-control input-sm" id="cboProgresivo" name="cboProgresivo">
                                            <option value="">--Seleccione--</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            FECHA DE INICIO
                                        </span>
                                        <input type="text" class="form-control input-sm dateOnly_" id="fechaInicio" readonly />
                                        <span class="input-group-addon input-group-icon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-sm-6">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            FECHA DE FIN
                                        </span>
                                        <input type="text" class="form-control input-sm dateOnly_" id="fechaFin" readonly />
                                        <span class="input-group-addon input-group-icon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                               
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <hr style="margin-top: 0px;" />
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="">
                                <table id="table" class="table table-striped table-condensed table-responsive table-bordered table-hover"></table>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

@section modal
{
    <!-- Modal full-modal -->
    <div class="modal fade full-modal" id="full-modal" tabindex="-1" role="dialog" aria-labelledby="full-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" data-border-top="multi">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="full-modal-label">Detalle Contadores</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="">

                                <table class="table table-striped table-hover table-condensed" id="tableDetalle"></table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- Modal full-modal -->
    <div class="modal fade full-modal" id="full-modal-contadores" tabindex="-1" role="dialog" aria-labelledby="full-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" data-border-top="multi">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="full-modal-label">Contadores</h4>
                </div>
                <div class="modal-body">
                    <div class="block-content-outer">
                        <div class="block-content-inner">
                            <div class="row">
                                <div class="col-xs-12 col-md-12 col-sm-12" id="formfiltro">
                                    <input type="hidden" value="" id="txtFechaHidden" />
                                    <input type="hidden" value="" id="txtMaquinaHidden" />
                                    <div class="row">
                                        <div class="col-md-3 col-sm-12">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    Fecha Inicio
                                                </span>
                                                <input type="text" class="form-control input-sm dateOnly_" id="txtFechaInicio" value="" readonly placeholder="Fecha">
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-12">
                                            <div class="input-group ">
                                                <span class="input-group-addon">
                                                    FechaFin
                                                </span>
                                                <input type="text" class="form-control input-sm dateOnly_" id="txtFechaFin" value="" readonly placeholder="Fecha">
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-12">
                                            <div class="input-group ">
                                                <span class="input-group-addon">
                                                    Máquina
                                                </span>
                                                <input type="text" class="form-control input-sm" id="txtCodMaq" value="" readonly placeholder="Maquina">
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-12">
                                            <a href="" class="btn btn-primary btn-block btn-sm" id="btnBuscarContadores">Buscar</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <hr style="margin-top: 0px;" />
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="myDataTable">
                                        <table class="table table-striped table-hover table-condensed" id="tableContadores"></table>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
}

@section js
{
    <script src="~/Content/assets/viewsjs/Progresivo/Progresivo/ReporteProgresivoVista.js?v=@fecha_archivos"></script>
}