
@{
    ViewBag.Title = "CallCenterModificarTickets";
}
<div class="row">
    <div class="col-md-6">
        <div class="block">
            <div class="block-content-outer">
                <div class="block-content-inner">
                    <div class="row">
                        <div class="col-md-12 col-xs-12 col-sm-12">
                            <h1>
                                <span aria-hidden="true" class="icon icon-block-menu"></span>
                                <span class="main-text">
                                    Modificar Ticket
                                </span>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="block">
            <div class="block-content-outer">
                <div class="block-content-inner">

                    <div class="row">

                        <div class="col-md-4 col-sm-4  col-xs-12 pull-right">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <div class="contenedor_btn">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4  col-xs-12 pull-right">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <div class="contenedor_btn_excel"></div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-4 col-sm-4  col-xs-12 pull-right">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    @*<button type="button" id="btnExcel" class="btn btn-primary btn-sm col-md-12 col-xs-12">
                        <span class="glyphicon glyphicon-file"></span>
                        Excel
                    </button>*@
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4  col-xs-12 pull-right">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <button type="button" id="btnBuscar" class="btn btn-success btn-sm col-md-12 col-xs-12">
                                        <span class="glyphicon glyphicon-book"></span>
                                        Buscar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="block">
            <div class="block-content-outer">
                <div class="block-content-inner">
                    <div class="row">

                        <div class="col-xs-12 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="input-group ">
                                        <span class="input-group-addon">
                                            Sala
                                        </span>
                                        <select class="form-control input-sm codSalaAuditoria" id="cboSala" name="cboSala">
                                            <option value="">--Seleccione--</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-6">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            TABLA
                                        </span>
                                        <select class="form-control input-sm" id="cboTabla" name="cboTabla">
                                            <option value="">--Seleccione--</option>
                                            <option value="Procesos_TITO">Procesos_TITO</option>
                                            <option value="Detalle_movaux_por_maquina">Detalle_movaux_por_maquina</option>
                                            <option value="Det0001TTO_00H">Det0001TTO_00H</option>
                                            <option value="Det0001TTO">Det0001TTO</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="hidden" id="proc_tito">
                                    <div class="col-md-4 col-sm-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                FECHA DE INICIO
                                            </span>
                                            <input type="text" class="form-control input-sm dateOnly" id="pro_ti_fechaInicio" />
                                            <span class="input-group-addon input-group-icon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                FECHA DE FIN
                                            </span>
                                            <input type="text" class="form-control input-sm dateOnly" id="pro_ti_fechaFin" />
                                            <span class="input-group-addon input-group-icon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                CODIGO TICKET
                                            </span>
                                            <input type="text" class="form-control input-sm" id="pro_ti_cod_ticket" />
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                NRO DE MAQUINA
                                            </span>
                                            <input type="text" class="form-control input-sm" id="pro_ti_nro_maquina" />
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                ITEM CAJA
                                            </span>
                                            <input type="text" class="form-control input-sm" id="pro_ti_item_caja" />
                                        </div>
                                    </div>
                                </div>
                                <div class="hidden" id="det_mov_maq">
                                    <div class="col-md-4 col-sm-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                FECHA DE INICIO
                                            </span>
                                            <input type="text" class="form-control input-sm dateOnly" id="det_mov_maq_fechaInicio" />
                                            <span class="input-group-addon input-group-icon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                FECHA DE FIN
                                            </span>
                                            <input type="text" class="form-control input-sm dateOnly" id="det_mov_maq_fechaFin" />
                                            <span class="input-group-addon input-group-icon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                ITEM
                                            </span>
                                            <input type="text" class="form-control input-sm" id="det_mov_maq_item" />
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                MAQUINA ALTERNA
                                            </span>
                                            <input type="text" class="form-control input-sm" id="det_mov_maq_alterno" />
                                        </div>
                                    </div>
                                </div>
                                <div class="hidden" id="det_tt0">
                                    <div class="col-md-4 col-sm-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                FECHA DE INICIO
                                            </span>
                                            <input type="text" name="fechaInicio" class="form-control input-sm dateOnly" id="det_tt0_fechaInicio" />
                                            <span class="input-group-addon input-group-icon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                FECHA FIN
                                            </span>
                                            <input type="text" name="fechaFin" class="form-control input-sm dateOnly" id="det_tt0_fechaFin" />
                                            <span class="input-group-addon input-group-icon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                PUNTO DE VENTA
                                            </span>
                                            <input type="text" name="fechaFin" class="form-control input-sm" id="det_tt0_Punto_venta" />
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                PUNTO DE VENTA FIN
                                            </span>
                                            <input type="text" name="procc_Cod_Ticket" class="form-control input-sm" id="det_tt0_Punto_venta_fin" />
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                NRO TICKET
                                            </span>
                                            <input type="text" name="procc_Nro_Maquina" class="form-control input-sm" id="det_tt0_Tito_NroTicket" />
                                        </div>
                                    </div>
                                </div>
                                <div class="hidden" id="det_tito">
                                    <div class="col-md-4 col-sm-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                FECHA DE INICIO
                                            </span>
                                            <input type="text" name="fechaInicio" class="form-control input-sm dateOnly" id="det_tito_fechaInicio" />
                                            <span class="input-group-addon input-group-icon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                FECHA DE FIN
                                            </span>
                                            <input type="text" name="fechaFin" class="form-control input-sm dateOnly" id="det_tito_fechaFin" />
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                ITEM
                                            </span>
                                            <input type="text" name="procc_Cod_Ticket" class="form-control input-sm" id="det_tito_item" />
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                NRO TICKET
                                            </span>
                                            <input type="text" name="procc_Nro_Maquina" class="form-control input-sm" id="det_tito_Tito_NroTicket" />
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                PUNTO DE VENTA
                                            </span>
                                            <input type="text" name="procc_Item_Caja" class="form-control input-sm" id="det_tito_Tito_PuntoVenta" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <hr style="margin-top: 0px;" />
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="contenedor_tabla">                                
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

@section modal
{
    <!-- Modal full-modal -->
    <div class="modal fade full-modal" id="full-modal" tabindex="-1" role="dialog" aria-labelledby="full-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" data-border-top="multi">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="full-modal-label">Detalle Contadores</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="">
                                <table class="table table-striped table-hover table-condensed" id="tableDetalle"></table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
}



@section js
{
    <script src="~/Content/assets/viewsjs/Soporte/CallCenter/CallCenter/CallCenterModificarTickets.js"></script>
}
