@{
    ViewBag.Title = "Reporte Auditoría";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-6">
        <div class="block">
            <div class="block-content-outer">
                <div class="block-content-inner">
                    <div class="row">
                        <div class="col-md-12 col-xs-12 col-sm-12">
                            <h1>
                                <span aria-hidden="true" class="icon icon-shield"></span>
                                <span class="main-text">
                                    @Html.Raw(ViewBag.Title)
                                </span>
                            </h1>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="block">
            <div class="block-content-outer">
                <div class="block-content-inner">

                    <div class="row">
                        @*<div class="btn-group col-md-4 col-sm-4  col-xs-12 pull-right">
            <button data-toggle="dropdown" class="btn btn-danger btn-sm col-md-12 col-xs-12 " type="button"><span class="glyphicon glyphicon-list-alt"></span> Excel </button>

        </div>*@

                        <div class="col-md-4 col-sm-4  col-xs-6 pull-right">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <button type="button" id="btnExcel" class="btn btn-primary btn-sm col-md-12 col-xs-12">
                                        <span class="glyphicon glyphicon-file"></span>
                                        Excel
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4  col-xs-6 pull-right">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <button type="button" id="btnBuscar" class="btn btn-success btn-sm col-md-12 col-xs-12">
                                        <span class="glyphicon glyphicon-book"></span>
                                        Buscar
                                    </button>
                                </div>
                            </div>
                        </div>




                        @*<form name="formpend" id="formpend" method="POST" style="display: none">
            <input name="modulo" id="modulo">
            <input name="fecha" id="fecha">
            <input name="fechahasta" id="fechahasta">
            <input name="accion" id="accion">
            <input name="consulta" id="consulta">
            <input name="cabezas" id="cabezas">
        </form>*@
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="block">
            <div class="block-content-outer">
                <div class="block-content-inner">
                    <div class="cardMachine" style="margin-bottom:15px;">

                        <div class="row">

                            <div class="col-xs-12 col-md-12 col-sm-12">
                                <div class="row">
                                    <div class="col-md-3 col-sm-3">
                                        <div class="input-group dateOnly1">
                                            <span class="input-group-addon">
                                                F. Inicial
                                            </span>
                                            <input type="text" class="form-control input-sm" name="txtFecha" id="txtFecha" autocomplete="off" readonly="readonly">
                                            <span class="input-group-addon input-group-icon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        <div class="form-group ">
                                            <div class="input-group dateOnly4">
                                                <span class="input-group-addon">
                                                    De
                                                </span>
                                                <input type="text" class="form-control input-sm" name="txtHora1" id="txtHora1" autocomplete="off">
                                                <span class="input-group-addon input-group-icon">
                                                    <span class="glyphicon glyphicon-time"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        <div class="input-group dateOnly2">
                                            <span class="input-group-addon">
                                                F. Final
                                            </span>
                                            <input type="text" class="form-control input-sm" name="txtFecha1" id="txtFecha1" autocomplete="off" readonly="readonly">
                                            <span class="input-group-addon input-group-icon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>



                                    <div class="col-md-3 col-sm-3">
                                        <div class="form-group">
                                            <div class="input-group dateOnly5">
                                                <span class="input-group-addon">
                                                    A
                                                </span>
                                                <input type="text" class="form-control input-sm" name="txtHora2" id="txtHora2" autocomplete="off">
                                                <span class="input-group-addon input-group-icon">
                                                    <span class="glyphicon glyphicon-time"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <hr />
                                </div>
                            </div>

                            <div class="col-md-12">

                                <table id="tablaReporte" class="table table-striped table-condensed table-responsive table-bordered table-hover thwidth"></table>

                            </div>
                        </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>

</div>

@section modal
{
    <!-- Modal full-modal -->
    <div class="modal fade full-modal" id="modalAuditoria" tabindex="-1" role="dialog" aria-labelledby="full-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" data-border-top="multi">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="full-modal-label">Detalle Data - Fecha y Hora de Registro : <span id="fechaSpan"></span></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 text-center">
                           <h3>Proceso : <span id="procesoSpan" style="font-weight:bold"></span></h3> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="block-content-inner">
                                <ul id="default-tabs-justified" class="nav nav-tabs ">
                                    <li class="active" ><a href="#default-tabs-justified-home" id="tabdata1" data-toggle="tab">Usuario Login</a></li>
                                    <li id="tabdata" style="display:none;"><a href="#default-tabs-justified-profile" data-toggle="tab">Datos Inicio - Datos Final</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="cardMachine" style="margin-bottom: 15px; padding: 55px 15px">

                                        <div id="default-tabs-justified-home" class="tab-pane active">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-12">
                                                    
                                                    <div class="row">
                                                        <div class=" col-sm-12">
                                                            <div class="input-group ">
                                                                <span class="input-group-addon redback">
                                                                    Empleado
                                                                </span>
                                                                <input type="text" class="form-control input-sm azul" name="Empleado" id="txtEmpleado" disabled>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-6 col-sm-12">
                                                            <div class="input-group ">
                                                                <span class="input-group-addon redback">
                                                                    Cod. Emp.
                                                                </span>
                                                                <input type="text" class="form-control input-sm azul" name="Codempleado" id="txtCodEmpleado" disabled>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 col-sm-12 ">
                                                            <div class="input-group ">
                                                                <span class="input-group-addon redback">
                                                                    Cod. Usu.
                                                                </span>
                                                                <input type="text" class="form-control input-sm azul" name="Cod Usuario" id="txtCodUsuario" disabled>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-6 col-sm-12">
                                                            <div class="input-group ">
                                                                <span class="input-group-addon redback">
                                                                    Usuario
                                                                </span>
                                                                <input type="text" class="form-control input-sm azul" name="Usuario" id="txtUsuario" disabled>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 col-sm-12">
                                                            <div class="input-group ">
                                                                <span class="input-group-addon redback">
                                                                    Contraseña
                                                                </span>
                                                                <input type="text" class="form-control input-sm azul" name="Password" id="txtPassword" disabled>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-8 col-sm-12">
                                                            <div class="input-group ">
                                                                <span class="input-group-addon redback">
                                                                    Tipo Usuario
                                                                </span>
                                                                <input type="text" class="form-control input-sm azul" name="TipoUsuario" id="txtTipoUsuario" disabled>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4 col-sm-12">
                                                            <div class="input-group ">
                                                                <span class="input-group-addon redback">
                                                                    Cod. T. Usu.
                                                                </span>
                                                                <input type="text" class="form-control input-sm azul" name="CodtipoUsuario" id="txtCodTipoUsuario" disabled>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>

                                                <div class="col-md-6 col-sm-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon redback">
                                                            F. Reg. Usu.
                                                        </span>
                                                        <input type="text" class="form-control input-sm azul" name="FechaRegistro" id="txtFechaRegistro" disabled>
                                                    </div>

                                                    <div class="input-group">
                                                        <span class="input-group-addon redback">
                                                            Nro  Logueo Fallido
                                                        </span>
                                                        <input type="text" step="1" name="intentos" class="form-control input-sm azul" id="txtIntentos" disabled>
                                                    </div>

                                                    <div class="input-group">
                                                        <span class="input-group-addon redback">
                                                            Estado Usu.
                                                        </span>
                                                        <input type="text" name="estado" class="form-control input-sm azul" id="txtEstado" disabled>
                                                    </div>

                                                </div>

                                            </div>

                                        </div>
                                        <div id="default-tabs-justified-profile" class="tab-pane">


                                        </div>
</div>
                                    </div>

                                </div>

                               
                               

                                @*<div id="divinicial">
                                    <h3 style="color:blue;font-weight:bolder">Data Encontrada en Formulario</h3>
                                    <pre id="dataInicial" style="white-space:normal;min-height:100px;text-align: justify;"></pre>
                                </div>

                                <div id="divfinal">
                                    <h3 style="color:blue;font-weight:bolder">Data Guardada o Enviada para consulta</h3>
                                    <pre id="dataFinal" style="white-space:normal;min-height:100px;text-align: justify;"></pre>
                                </div>*@

                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-warning" data-dismiss="modal">Cerrar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
}



@section js
{
    <script src="~/Content/assets/viewsjs/Seguridad/AuditoriaVista.js"></script>
}