<div class="row" id="atributoWidget">
    <div class="col-md-12">
        <div class="block">
            <div class="block-content-outer">



                <div class="cardMachine">
                    <div class="container" id="npsDashboard" style="width:100%">
                        <div class="row text-center" id="resumenNps">
                            <div class="col-sm-3">
                                <h3 id="totalRespuestas">0</h3>
                                <p>Respuestas</p>
                            </div>
                            <div class="col-sm-3 text-danger">
                                <h3 id="totalDetractores">0</h3>
                                <p>Detractores</p>
                            </div>
                            <div class="col-sm-3 text-warning">
                                <h3 id="totalNeutrales">0</h3>
                                <p>Pasivos</p>
                            </div>
                            <div class="col-sm-3 text-success">
                                <h3 id="totalPromotores">0</h3>
                                <p>Promotores</p>
                            </div>
                        </div>

                        <!-- 📌 Distribución -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="progress">
                                    <div id="barDetractores" class="progress-bar progress-bar-danger" style="width:0%">
                                        <span id="pctDetractores">0%</span>
                                    </div>
                                    <div id="barNeutrales" class="progress-bar progress-bar-warning" style="width:0%">
                                        <span id="pctNeutrales">0%</span>
                                    </div>
                                    <div id="barPromotores" class="progress-bar progress-bar-success" style="width:0%">
                                        <span id="pctPromotores">0%</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel-group" id="listaEncuestados"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>