



<div class="row" id="atributoWidget">
    <div class="col-md-12">
        <div class="block">
            <div class="block-content-outer">
                <div class="block-content-inner" style="background-color:white;overflow-x:scroll;">

                    <table id="tablaResumen" class="table table-bordered w-full text-sm text-center">
                        <thead>
                            <tr>
                                <th>Pregunta</th>
                                <th>Respuestas (CANT.)</th>
                                <th>Muy insatisfecho (1)</th>
                                <th>Insatisfecho (2)</th>
                                <th>Neutral (3)</th>
                                <th>Satisfecho (4)</th>
                                <th>Muy satisfecho (5)</th>
                                <th>CSAT</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>
</div>
