@{
    ViewBag.Title = "listado Problema";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .sorting, .sorting_disabled, .sorting_asc, .sorting_desc {
        background-color: #0b1f46 !important;
        height: 40px;
    }

    tr {
        height: 34px;
    }

    .even {
        background-color: white !important;
    }
</style>
<div class="row">
    <div class="col-md-6">
        <div class="block">
            <div class="block-content-outer">
                <div class="block-content-inner">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>
                                <span aria-hidden="true" class="icon icon-atom"></span>
                                <span class="main-text">
                                    Listado de Problema
                                </span>
                            </h1>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="block">
            <div class="block-content-outer">
                <div class="block-content-inner">
                    <div class="row">
                        <div class="col-md-offset-4 col-md-4 col-sm-4 col-xs-6">
                            <button type="button" id="btnNuevo" class="btn btn-sm btn-success col-md-12 col-xs-12">
                                <span class="glyphicon glyphicon-book"></span>
                                Nuevo
                            </button>
                        </div>
                        <div class="col-md-4 col-sm-4  col-xs-6 pull-right">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <button type="button" id="btnExcel" class="btn btn-primary btn-sm col-md-12 col-xs-12">
                                        <span class="glyphicon glyphicon-file"></span>
                                        Excel
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="block">
            <div class="block-content-outer">
                <div class="block-content-inner">
                    <div class="row">
                        <div class="col-md-12 tam">

                            <div class="">
                                <table id="tableProblema" class="table table-striped table-bordered table-hover table-condensed">
                                </table>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@section modal{

    <div class="modal fade full-modal" id="full-modal_problema" tabindex="-1" role="dialog" aria-labelledby="full-modal-label" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content" data-border-top="multi">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="full-modal-label_"> <span id="textProblema">Nueva</span> Problema</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12" id="divbanda">
                            <form class="medium bv-form" role="form" method="post" action="#" id="form_registro_problema">
                                <input type="hidden" name="codProblema" value="0" id="cod_problema" />
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                Nombre
                                            </span>
                                            <input type="text" class="form-control input-sm noKeyPress" id="nombre" value="" name="nombre" placeholder="Nombre">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                Descripcion
                                            </span>
                                            <input type="text" class="form-control input-sm noKeyPress" id="descripcion" value="" name="descripcion" placeholder="Descripcion">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                Categoria Problema
                                            </span>
                                            <select id="cboCategoriaProblema" class="form-control input-sm select" name="codCategoriaProblema">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                Estado
                                            </span>
                                            <select id="cboEstado" class="form-control input-sm select" name="estado">
                                                <option value="">--Seleccione--</option>
                                                <option value="1">Activo</option>
                                                <option value="0">Inactivo</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-warning" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-sm btn-danger btnGuardar">Guardar</button>
                </div>
            </div>
        </div>
    </div>
}

@section js
{
    <script src="~/Content/assets/viewsjs/MaquinasInoperativas/ListadoProblema.js"></script>
}
