
@{
    ViewBag.Title = "ListadoTipoJuego";
}
<style>
    .sorting, .sorting_disabled, .sorting_asc, .sorting_desc {
        background-color: #0b1f46 !important;
        height: 40px;
    }

    tr {
        height: 34px;
    }

    .even {
        background-color: white !important;
    }
</style>
<div class="row">
    <div class="col-md-6">
        <div class="block">
            <div class="block-content-outer">
                <div class="block-content-inner">

                    <div class="row">
                        <div class="col-md-12">
                            <h1>
                                <span aria-hidden="true" class="icon icon-shield"></span>
                                <span class="main-text">
                                    Listado Tipo de Juego
                                </span>
                            </h1>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="block">
            <div class="block-content-outer">
                <div class="block-content-inner">
                    <div class="row">
                        <div class="col-md-offset-4 col-md-4 col-sm-6 col-xs-6">
                            <button type="button" id="btnNuevoRegistro" class="btn btn-sm btn-success col-md-12 col-xs-12">
                                <span class="glyphicon glyphicon-book"></span>
                                Nuevo
                            </button>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-6">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <button type="button" id="btnExcel" class="btn btn-primary btn-sm col-md-12 col-xs-12">
                                        <span class="glyphicon glyphicon-file"></span>
                                        Excel
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="block">
            <div class="block-content-outer">
                <div class="block-content-inner">
                    <div class="cardMachine" style="margin-bottom:15px;">
                        <fieldset class="sectionCard" style="padding: 10px 7px; margin-top: 10px;">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table id="tableTipoJuego" class="table table-condensed table-bordered table-hover" style="width:100%">
                                            @*<thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Nro Documento</th>
                                        <th>Accion</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>*@
                                        </table>
                                    </div>
                                </div>
                            </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>


@section js
{
    <script src="~/Content/assets/viewsjs/AsistenciaCliente/ListadoTipoJuego.js"></script>
}

