

<input type="hidden" name="id_solicitud" id="IDSolicitud" value="@ViewBag.id_solicitud" />

@*<div class="contenedor_tabla_modal"></div>*@

<table class="table table-condensed table-bordered table-hover TablaHistorial" style="width:100%;">
    <thead>
        <tr>
            <th>Historial ID</th>
            <th>ESTADO NUEVO</th>
            <th>FECHA RESPUESTA</th>
            <th>OBSERVACIONs</th>
        </tr>
    </thead>
</table>


<script src="~/Content/assets/viewsjs/GestionCambios/GestionCambiosHistorialModal.js"></script>