
@{
    ViewBag.Title = "Ficha";

}

<div class="row">
    <div class="col-md-8">
        <div class="block">
            <div class="block-content-outer">
                <div class="block-content-inner">

                    <div class="row">
                        <div class="col-md-12">
                            <h1>
                                <span aria-hidden="true" class="icon icon-shield"></span>
                                <span class="main-text">
                                    Ficha Excelencia Operativa
                                </span>
                            </h1>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="block">
            <div class="block-content-outer">
                <div class="block-content-inner">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="alert alert-warning">!LA SALA ASIGNADA EN LA FICHA NO CORRESPONDE CON LAS SALAS ASIGNADAS AL USUARIO¡</div>

                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>