.atrasado {
    border: 2px solid red; /* o cualquier otro estilo que desees */
    background-color: #ffcccc; /* fondo rojo claro */
}


.add-icon {
    border-radius: 8px !important;
}

.btn-close {
    background-color: #dc3545; /* Color rojo para el botón */
    color: white; /* Texto blanco */
    border: none;
    border-radius: 8px !important; /* Botón circular */
    width: 30px;
    height: 30px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease; /* Transición suave */
}

/*.modal-container {
    max-width: 500px !important;
}
*/
.sheet-container {
    position: fixed;
    top: 70px;
    right: -100%;
    height: auto;
    bottom: 20px;
    max-width: 450px;
    background-color: #f4f4f4;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease-in-out;
    z-index:5 !important;
}

    .sheet-container.open {
        right: 0;
    }

.sheet {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid gray;
    border-radius: 10px !important;
    padding: 15px;
}





    .sheet.active {
        transform: translateX(0);
    }

.sheet-input {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.select2-container {
    width: 100% !important;
}

select, input {
    width: 100%; /* Asegura que ocupen todo el ancho de su contenedor */
    box-sizing: border-box; /* Incluye el padding en el ancho */
    height: 26px;
}


.file-upload-container {
    width: 100%;
    min-height: 150px;
    border: 2px dashed gray;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: border-color 0.3s ease;
}

    .file-upload-container.has-files {
        border: none;
    }

.file-upload-placeholder {
    font-size: 14px;
    color: gray;
}

.file-preview {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.file-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid;
    width: 100px;
    height: auto;
    background-color: white;
    width: 100%;
}

    .file-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .file-item .file-icon {
        font-size: 60px;
    }

    .file-item.excel {
        border-color: green;
        color: green;
        border-radius: 5px !important;
        display: flex;
        gap: 4px;
        width: 100%;
        justify-content: space-around;
    }

    .file-item.word {
        border-color: blue;
        color: blue;
        border-radius: 5px !important;
        display: flex;
        gap: 4px;
        width: 100%;
        justify-content: space-around;
    }

    .file-item.pdf {
        border-color: red;
        color: red;
        border-radius: 5px !important;
        display: flex;
        gap: 4px;
        width: 100%;
        justify-content: space-around;
    }

.file-name {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.file-size {
    font-size: 10px;
    color: gray;
    text-align: center;
}

.file-input {
    display: none;
}



