
.has-error textarea {
    border-color: #f00 !important;
}
.retrasado {
    border-left: 5px solid red;
}

.retraso-alerta {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}

.btn btn-primary button {
    border-radius: 8px !important;
}

.registrar-btn {
    display: flex;
    justify-content: center;
}
    .registrar-btn button {
        background-color: #206e07; 
        color: white;
        border-radius: 8px !important; 
        padding: 10px 20px; 
        font-size: 14px;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
    }
        .registrar-btn button:hover {
            background-color: #195a05; 
            transform: translateY(-2px); /* Efecto de elevación */
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Sombra más pronunciada */
        }

.select2-container--default .select2-selection--single {
    border-radius: 8px !important;
}

.select-tittle-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #f8f9fa; /* Fondo claro */
    border: 1px solid #ddd; /* Borde sutil */
    border-radius: 8px !important; /* Esquinas redondeadas */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

    .select-tittle-container h4 {
        margin: 0;
        font-size: 18px;
        color: #333; /* Color de texto oscuro */
        font-weight: 600; /* Texto en negrita */
    }

    .select-tittle-container button
    {
        background-color: #dc3545; /* Color rojo para el botón */
        color: white; /* Texto blanco */
        border: none;
        border-radius: 8px !important; /* Botón circular */
        width: 30px;
        height: 30px;
        font-size: 14px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.3s ease; /* Transición suave */
    }
    
        .select-tittle-container button:hover {
            background-color: #c82333; /* Color rojo más oscuro al pasar el mouse */
        }

.sheet-container {
    position: fixed;
    top: 70px;
    right: -100%;
    height: auto;
    max-height: calc(100vh - 70px);
    bottom: 20px;
    max-width: 450px;
    background-color: #f4f4f4;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease-in-out;
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 10px !important;
    padding: 15px;
    overflow: hidden;
}

    .sheet-container.open {
        right: 0;
    }

.sheet-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;
}

.sheet {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    /*overflow-y: auto;*/
}

    .sheet.active {
        transform: translateX(0);
    }


.contenedor-body {
    overflow-y: auto;
    max-height: 70vh;
    padding-bottom: 20px;
}

.sheet-input {
    display: flex;
    flex-direction: column;
    gap: 8px;
    /*margin-bottom: 20px;*/
}


    .sheet-input,
    .sheet-input input[type="text"],
    .sheet-input textarea 
    {
        width: 100%;
        padding: 10px;
        border: 1px solid #d1d5db !important; /* Borde más suave */
        border-radius: 8px !important; /* Bordes más redondeados */
        font-size: 14px;
        color: #374151; /* Color de texto oscuro */
        background-color: #f9fafb; /* Fondo claro */
        transition: border-color 0.3s ease, box-shadow 0.3s ease;
    }

     

.select2-container {
    width: 100% !important;
    z-index: 6 !important;
}

select, input {
    width: 100%; /* Asegura que ocupen todo el ancho de su contenedor */
    box-sizing: border-box; /* Incluye el padding en el ancho */
    height: 26px;
    border-radius: 8px !important;
}


.file-upload-container {
    width: 100%;
    min-height: 150px;
    border: 2px dashed gray;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: border-color 0.3s ease;
}

    .file-upload-container.has-files {
        border: none;
    }

.file-upload-placeholder {
    font-size: 14px;
    color: gray;
}

.file-preview {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.file-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid;
    width: 100px;
    height: auto;
    background-color: white;
    width: 100%;
}

    .file-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .file-item .file-icon {
        font-size: 60px;
    }

    .file-item.excel {
        border-color: green;
        color: green;
        border-radius: 5px !important;
        display: flex;
        gap: 4px;
        width: 100%;
        justify-content: space-around;
    }

    .file-item.word {
        border-color: blue;
        color: blue;
        border-radius: 5px !important;
        display: flex;
        gap: 4px;
        width: 100%;
        justify-content: space-around;
    }

    .file-item.pdf {
        border-color: red;
        color: red;
        border-radius: 5px !important;
        display: flex;
        gap: 4px;
        width: 100%;
        justify-content: space-around;
    }

.file-name {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.file-size {
    font-size: 10px;
    color: gray;
    text-align: center;
}

.file-input {
    display: none;
}

